<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  
    <sitecore role:require="Standalone OR ContentManagement AND !DedicatedDispatch">
    <pipelines>
      <initialize>
        <!-- Processor to execute post steps-->
        <processor type="Hhogdev.SitecorePackageDeployer.Pipelines.Initialize.RunPostInstallSteps, Hhogdev.SitecorePackageDeployer"/>
      </initialize>
      <shutdown>
        <!-- processor to let the installer know Sitecore is shutting down-->
        <processor type="Hhogdev.SitecorePackageDeployer.Pipelines.Shutdown.ShutdownIndicator, Hhogdev.SitecorePackageDeployer"/>
      </shutdown>
    </pipelines>
    <scheduling>
      <!-- Agent to install update packages -->
      <!-- Comment this out if using the OnDemand url to install a package -->
      <agent type="Hhogdev.SitecorePackageDeployer.Tasks.InstallPackage, Hhogdev.SitecorePackageDeployer" method="Run" interval="00:01:00"/>
    </scheduling>
    <settings>
      <!-- Folder where new updates packages will be found-->
      <setting name="SitecorePackageDeployer.PackageSource" value="$(dataFolder)/SitecorePackageDeployer"/>
      
      <!-- URL to hit to restart the server. If left blank, the server will be determined through -->
      <setting name="SitecorePackageDeployer.RestartUrl" value=""/>

      <!-- File to look for to restart the server.  The RestartUrl might not work, or be harder to use so this is another option -->
      <setting name="SitecorePackageDeployer.RestartFile" value="$(dataFolder)/RestartPackageDeployer.txt"/>

      <!-- Determines if the configuration files should replace the existing ones -->
      <setting name="SitecorePackageDeployer.UpdateConfigurationFiles" value="true"/>
    </settings>
  </sitecore>
</configuration>
