<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <!-- Processor to execute post steps-->
        <processor type="Hhogdev.SitecorePackageDeployer.Pipelines.Initialize.RunPostInstallSteps, Hhogdev.SitecorePackageDeployer"/>
      </initialize>
      <shutdown>
        <!-- processor to let the installer know Sitecore is shutting down-->
        <processor type="Hhogdev.SitecorePackageDeployer.Pipelines.Shutdown.ShutdownIndicator, Hhogdev.SitecorePackageDeployer"/>
      </shutdown>
    </pipelines>
    <scheduling>
      <!-- Agent to install update packages -->
      <!--<agent type="Hhogdev.SitecorePackageDeployer.Tasks.InstallPackage, Hhogdev.SitecorePackageDeployer" method="Run" interval="00:01:00"/>-->
    </scheduling>
    <settings>
      <!-- Folder where new updates packages will be found-->
      <setting name="SitecorePackageDeployer.PackageSource" value="$(dataFolder)\SitecorePackageDeployer"/>
      
      <!-- URL to hit to restart the server. If left blank, the server will be determined through -->
      <setting name="SitecorePackageDeployer.RestartUrl" value=""/>

      <!-- Determines if the configuration files should replace the existing ones -->
      <setting name="SitecorePackageDeployer.UpdateConfigurationFiles" value="true"/>
    </settings>
  </sitecore>
</configuration>
