<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Logging" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Update" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Zip" version="10.1.2" targetFramework="net48" />
</packages>