<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="4.5.9" targetFramework="net45" />
  <package id="Sitecore.Kernel.NoReferences" version="7.2.140228" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.Logging.NoReferences" version="7.2.140228" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.Mvc.NoReferences" version="7.2.140228" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.Update.NoReferences" version="7.2.140228" targetFramework="net45" developmentDependency="true" />
  <package id="Sitecore.Zip.NoReferences" version="7.2.140228" targetFramework="net45" developmentDependency="true" />
</packages>